:root {

    /* main text */
    --main-font: "roboto";
    --secondary-font: "raleway";

    /* main colors */

    --main-title-cl:#212121;
    --main-text-cl: var(--mai);
    --btn-hover-focus-bgd: #2196F3;
    --background: #ffffff;
    --hero-footer-bcg: #2F303A;
    --team-bcg: #F5F4FA;
    --hero-title-cl: #ffffff;
    --footer-logo: #ffffff;
    --footer-link-cl: #ffffff;
    --header-svg:var(--mai);
    --benefits-svg:#212121;
    --social-team-link:#AFB1B8;
    --footer-social-icon: #ffffff;
    --footer-social-bcg: rgba(255, 255, 255, 0.1);
    
    

}

body {
    font-family: var(--main-font), sans-serif;
    letter-spacing: 0.03em;
    font-size: 14px;
    color: var(--main-title-cl);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
    margin: 0;
    padding:0;
}

.list {
    list-style: none;
}

.link {
   color:inherit;
    text-decoration: none;
    font-family: inherit;
    margin: 0;
    padding: 0;
}




/* header */
.section {
    padding-top:94px;
    padding-bottom:94px;
    
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.header-logo {
    padding: 24px 0 25px 0;
    margin-right: 93px;;
    text-decoration: none;
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
   
}

.header {
    letter-spacing: 0.02em;
}

.header-container {
    display: flex;
    align-items: center;

}


.header-list {
    display: flex;

    
}

.header-list > .item:not(:last-child) {
    margin-right:50px;

}

.header-group {
    display: flex;
    margin-left:auto;
}


.header-icon{
    display: inline-block;
    margin-right:10px;
    fill:var(--header-svg);
}


.header-nav {
    display: flex;
    align-items: center;
    margin-left: 93px;
}



.header-nav .item:not(:last-child) {
    margin-right:   50px;
}



/* logo */

.logoa {
    color: #2196F3;
    font-family: var(--secondary-font);


}

.logob {
    color: var(--main-title-cl);
    font-family: var(--secondary-font);

}



.header-link {

    transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    display:block;
    padding: 32px 0 32px 0;
    font-weight: 500;
    line-height: 1.14px;
    color: var(--main-title-cl);
 
}



.header-link.current::after {
    content: '' ;
    width:100%;
    height: 4px;
    display:block;
    background: #2196F3;
        border-radius: 2px;
        transform: translateY(37px);
       
}

.header-group .item + .item {
    margin-left: 50px;
}



.current {
    color: var(--btn-hover-focus-bgd);
}

.header-link-contact {
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    align-items: center;
    display: flex;;
    padding: 32px 0 32px 0;
    text-decoration: none;
    font-weight: 500;
    line-height: 1.14;
    color: var(--main-text-cl);
}

.header-link-contact:hover,
.header-link-contact:focus,
.header-link:hover,
.header-link:focus,
.footer-link-contact:hover,
.footer-link-contact:focus {
    color: var(--btn-hover-focus-bgd);
}

.header-link-contact:hover .header-icon { 
    fill:var(--btn-hover-focus-bgd);
}

.header-link-contact:focus .header-icon {
    fill: var(--btn-hover-focus-bgd);
}





/* hero */


.hero {
    background-image: linear-gradient( to right, 
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-bcg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
    padding-top:200px;
    padding-bottom:200px;
    background-color: var(--hero-footer-bcg);
}

.hero-title {
    width:696px;
    margin-right: auto;
    margin-left:auto;
    text-transform: uppercase;
    color: var(--hero-title-cl);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
}


.hero-btn {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border: none;
        border-radius:4px;
    padding:10px 30px 10px 30px;
    margin-top:30px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    color: #ffffff;
    background-color: var(--btn-hover-focus-bgd);
    cursor: pointer;
}

/* секция наши преимущества */

.benefits-list {
    display: flex;
}
 

.benefits-item:not(:last-child) {
    margin-right:30px;
}


.benefits-title {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.14;
    color: var(--main-title-cl);
}



.icon-svg{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background-color: var(--team-bcg);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 4px;
  
}


.benefits-about {
    line-height: 1.71;
    color: var(--main-text-cl);
    margin-top:10px;
}

.antena-svg {
    display: block;
    text-align: center;
    padding: 25px 122px 25px 122px;
}





/* секция чем мы занимаемся */

.our-work {
    padding-top:0;
}

.section-title{
    text-align: center;
    font-size: 36px;
    line-height: 1.16;
    
}


.our-work-title {
    margin-bottom:50px;
}

.our-work-container {
    display: flex;
}

.our-work-list:not(:last-child) {
    margin-right:30px;
}

.work-shots {
    display:block;
}

.thumb-our-work {
    position:relative;
}

.work-list-descr {
    position:absolute;
    bottom:0;
    right: 0;
    display:inline-block;
    width:100%;
    height: 70px;
    margin: 0;
    padding:27px 80px 27px 83px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: rgba(47, 48, 58, 0.8);
}

/* Наша команда */

.team {
    background: var(--team-bcg);
}


.team-section-title {
    margin-bottom:50px;
}

.team-list {
    display:flex;
}

.social-media {
    
    display:flex;
    margin-top: 16px;
    justify-content: center;
    align-items: center;
}

.social-link-item {
    transition: border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}


.social-items:not(:last-child) {
    margin-right:10px;

}

.social-icon {
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    fill:var(--social-team-link);

}

.social-link-item:hover {
    
    background-color: var(--btn-hover-focus-bgd);
}

.social-link-item:hover .social-icon{
    fill: #fff;
}

.social-link-item:focus {
        border-radius: 50%;
        background-color: var(--btn-hover-focus-bgd);
}

.social-link-item:focus .social-icon {
    fill: #fff;
}





.team-item {
    background: var(--background);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-item:not(:last-child) {
    margin-right:30px;
}

.team-subtitle {
    margin-bottom:10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.35;
    text-align: center;

    
}

.team-text {
    font-size: 16px;
    line-height: 1.19;
    color: var(--main-text-cl);
    text-align: center;

}

.team-card {
    padding-top:30px;
    padding-bottom:30px;
    padding-left:32px;
    padding-right: 32px;
}



/* customers */

.customers-title {
    margin-bottom: 50px;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        letter-spacing: 0.03em;
}

.customers-list {
    display: flex;
}



.customers-item:not(:last-child) {
    margin-right:30px;
}

.customers-icon {
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    fill:var(--social-team-link);
}


.customers-link:hover,
.customers-link:focus {
   border-color:var(--btn-hover-focus-bgd);
}

.customers-link:hover .customers-icon {
    fill:var(--btn-hover-focus-bgd);
}

.customers-link:focus .customers-icon {
    fill: var(--btn-hover-focus-bgd);
}



.customers-link {
    transition-property: border-color; 
    transition-duration: 250ms;
    transition-timing-function:  cubic-bezier(0.4, 0, 0.2, 1);
    
    width: 170px;
        height: 92px;
        border: 1px solid #AFB1B8;
        border-radius: 4px;
    display: flex;
    justify-content:center;
    align-items: center;
}




/* footer */

.footer {
    padding-top:60px;
    padding-bottom:60px;
    background: var(--hero-footer-bcg);
}

.footer-logo {
    display: inline-block;
    margin-bottom:20px;
    text-decoration: none;
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.logoc {
    color: var(--footer-logo);
    font-family: var(--secondary-font);
}
.footer-links {
    margin-left:70px;
}

.footer-title {
        color:#ffffff;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
}

.footer-container {
    display:flex;
    align-items: baseline;
}

.footer-social-links {
    display:flex;
    margin-top:20px;
}


.footer-social-items:not(:last-child){
    margin-right:10px;
}

.footer-social-link-item:hover,
 .footer-social-link-item:focus {
    background-color: var(--btn-hover-focus-bgd);
}

.footer-social-icon{
    fill:var(--footer-social-icon);
    
}

.footer-social-link-item {
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        width: 44px;
        height: 44px;
        background-color: var(--footer-social-bcg);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        
}

.form {
    margin-left:93px;
}

.signup-input{
    display: block;
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
     filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: #2F303A;
    color:#ffffff;
   
    padding: 15px 0 15px 16px;
    
    margin-top: 20px;
}

.signup-input::placeholder {
    letter-spacing: 0.03em;
     color: rgba(255, 255, 255, 0.6);
     font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
     line-height: 1.25;
}


.signup-form {
    display: flex;
    align-items: flex-end;
}


.signup-lable {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    
}

.signup-btn {
    display: flex;
    flex-direction: row-reverse;
    /* align-items: center; */
    width: 200px;
    height: 50px;
    margin-left:12px;
    background-color: var(--btn-hover-focus-bgd);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color:#ffffff;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    border:none;
    padding: 10px 0 10px 29px;
    cursor: pointer;

}

.signup-svg {
    display:flex;
    margin-left:10px;
    fill:#ffffff;
    margin-right:28px;
}





/* Контакты */

.footer-adress {
    font-style: normal;
}

.footer-link-adress {
    line-height: 1.71;
    text-decoration: none;
    color: var(--footer-link-cl);
}

.footer-link-contact {
    transition-property:color;
    transition-duration: 250ms;
    transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1); 

    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;

}

.footer-adres-contact:not(:last-child) {

    margin-bottom:9px;
}




/* портфолио */

.portfolio-container {
    border-bottom: 1px solid #ECECEC;
}


.btn-list {
    display: flex;
    margin-bottom:50px;
    justify-content: center;
}

.portfolio-btn:not(:last-child) {
    margin-right: 8px;
}

.btn-item {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding:6px 22px 6px 22px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    background: #F5F4FA;
    border:none;
        border-radius: 4px;
    color: var(--main-title-cl);
    letter-spacing: 0.03em;
    cursor: pointer;

}

.active {
    background-color: var(--btn-hover-focus-bgd);
    color:#ffffff;
}

.btn-item:hover,
.btn-item:focus {
    background-color: var(--btn-hover-focus-bgd);
    color: #ffffff;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    
}

.work-list-title {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom:4px;

}

.work-text {
    font-size: 16px;
    line-height: 1.875;
    color: var(--main-text-cl);
   
}

.work-list {
    display: flex;
    flex-wrap:wrap;
   
}

.portfolio-cards {
    
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom:30px;

}


.portfolio-cards:nth-child(3n) {
    margin-right: 0;
}

.portfolio-cards:nth-last-child(-n+3) {
    margin-bottom:0;
}

.portfolio-link {
    display: block;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
 
}

.portfolio-link:hover{
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}


.portfolio-link:hover .overlay {
    transform: translateY(0%);
}


.thumb {
    position: relative;
    overflow: hidden;
}

.overlay {
    position:absolute;
    top:0;
    left:0;
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.56;
        letter-spacing: 0.03em;
        color: #FFFFFF;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 63px 24px 63px 24px;
        width: 100%;
        height: 100%;
        background-color: rgba(33, 150, 243, 0.9);
        transform: translateY(100%);
        transition-property: transform;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        
}

.work-container {
    
    padding-top:20px;
    padding-right: 24px;
    padding-bottom: 20px;
    padding-left: 24px;
border-right: 1px solid #EEEEEE;
border-bottom: 1px solid #EEEEEE;
border-left: 1px solid #EEEEEE;


}

.img-work {
    display: block;
}


.backdrop {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    visibility: visible;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
                visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
                transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(0%);

    
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(100%);

}

.modal {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    min-width: 528px;
    min-height: 581px;
    padding: 40px;
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.close-btn {
    position: absolute;
    top:8px;
    right:8px;
    
    
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    
    display: block;
    width:30px;
    height: 30px;
    background-color:#FFFFFF;

    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover,
.close-btn:focus {
    fill:var(--btn-hover-focus-bgd);
}



/* Форма модального вікна */

.modal-form-field {
    margin-bottom:10px;

}

.modal-form-field-comment {
    margin-bottom: 0;
}

.form-title {
    display: block;
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
        letter-spacing: 0.03em;
    
        color: var(--main-title-cl);
        margin-bottom: 12px;
}

.modal-form-lable {
    display: block;
    margin-bottom:4px;
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.01em;
    
        color:var(--main-text-cl);
}

.input-area {
    display: inline-block;
    width:100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        padding-left:42px;
        transition-property: border-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.input-wrap {
    position:relative;
}

.input-svg {
    position:absolute;
    top:50%;
    left: 15px;
    transform:translateY(-50%);
    transition-property: fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.input-area:focus,
.input-area:focus + .input-svg,
.modal-comment:focus {
    border-color:var(--btn-hover-focus-bgd);
    outline: none;
    fill:var(--btn-hover-focus-bgd);
}

.modal-comment {
   width:100%;
   height: 120px;
   resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px 12px 16px;
    transition-property: border-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

::placeholder {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.01em;
    
        color: rgba(117, 117, 117, 0.5);
}

.modal-form-checkbox {
    margin-top: 20px;
    margin-bottom: 30px;
}

.icon-check {
    display: inline-flex;
    width: 16px;
    height: 15px;
    align-items: center;
    justify-content: center;
    border: 2px solid #212121;
    border-radius: 2px;
    margin-right: 8px;
    
    }

.chek-svg {
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
    
}


.checkbox-policy {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
    
        color:var(--main-title-cl);
}

.checkbox-policy + a {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        /* identical to box height, or 171% */
    
        letter-spacing: 0.03em;
    
       color: var(--btn-hover-focus-bgd);
}

.cheked-label {
    display: flex;
    align-items: center;
    justify-content: center;

}

.checkbox:checked + .cheked-label>.icon-check {
    fill: #ffffff;
    background-color: var(--btn-hover-focus-bgd);
    border:none;
}

.btn-wrapper {
    display: flex;
    justify-content: center;
}

.modal-btn {
    display: block;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.875;
        letter-spacing: 0.06em;
        color: #ffffff;
        background-color: var(--btn-hover-focus-bgd);
        padding: 10px 55px 10px 56px;
        cursor: pointer;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        border: none;
}



